%tr{class: request.rewritten ? 're' : ''}
  %td
    %a{href: url(:request, request.id), target: '_new'}= request.id
  %td= request.method
  %td.wrap
    %a{href: request.uri}= request.uri
  %td= request.created_at.strftime('%F %T')
  %td= request.status || 504
  %td= request.content_type
  %td= '%.4f' % request.lifetime
  %td.details
    %a{href: url(:request, request.id), target: '_new'} &raquo;
