%h2
  Request

%table.table.request
  %tbody
    %tr
      %td URL
      %td= resource.uri
    %tr
      %td Method
      %td= resource.method
    %tr
      %td Headers
      %td
        %pre= resource.http_headers
    %tr
      %td Content
      %td
        %pre
          - if resource.form_data?
            != resource.body
          - else
            != resource.body.unpack("H*").first
    %tr
      %td Curl
      %td
        %textarea= resource.curl
    %tr.response
      %td{colspan: 2}
        %h2 Response

    != haml :'response/_response', locals: {resource: resource.response}
